In [96]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [97]:
PATH = '/Users/maksimsadkov/SQL T+ test'

In [98]:
import psycopg2
import pandas as pd

import os

In [99]:
def get_connection(password, dbname='postgres', user='postgres', host='localhost'):
    try: 
        conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host)
        return conn
    except:
        return False

In [100]:
def execute_query(connection, query):
    try:
        with connection.cursor() as cur:
            cur.execute(query)
            res = cur.fetchall()
            colnames = [desc[0] for desc in cur.description]
            return res, colnames
    except Exception as e:
        return e, False

In [101]:
def create_csv_report(df, path):
    try:
        df.to_csv(path)
    except Exception as e:
        return e

In [102]:
def create_df(data, column_names):
    return pd.DataFrame(data, columns=column_names)

In [103]:
conn = get_connection('123')

In [104]:
query_1 = '''
select cpn.per_id, cpn.entity_name, cap.acct_id , cap.acct_rel_type 
from 
	ci_acct_per cap
	left join ci_per_name cpn on cap.per_id = cpn.per_id ;
'''

query_2 = '''
select cpn.entity_name as owner_name, cpn2.entity_name as family_member_name
from 
	ci_per_name cpn 
	left join ci_acct_per cap on cap.per_id = cpn.per_id
	left join ci_acct_per cap2 on cap2.acct_id = cap.acct_id 
	left join ci_per_name cpn2 on cpn2.per_id = cap2.per_id
WHERE cap.main_cust_sw  = 'Y' and cap.acct_rel_type = 'FMLMMBRA';
'''

query_3 = '''
select cpn1.per_id,cpn2.entity_name 
from (select cpn.per_id
	from ci_acct_per cap 
	left join ci_per_name cpn on cpn.per_id = cap.per_id
	group by cpn.per_id
	having count(cap.acct_id) > 1) as cpn1
left join ci_per_name cpn2 on cpn2.per_id = cpn1.per_id;
'''

query_4 = '''
select ca.acct_id, ca.setup_dt, ca.cis_division, ca.currency_cd, cac.char_val, cac.effdt
from ci_acct ca 
left join(
	select * from (
		select *,
		row_number() over(partition by acct_id order by effdt DESC) as row_num	
		from (
			select * from ci_acct_char
			where char_type_cd = 'PENI-PRM'
			) peni_prm_cac
			) cac_rang
	where row_num = 1) cac on cac.acct_id = ca.acct_id;
'''

query_5 = '''
select DISTINCT cpn.per_id, cpn.entity_name
from ci_acct_char cac 
left join ci_acct_per cap on cap.acct_id  = cac.acct_id 
left join ci_per_name cpn on cpn.per_id  = cap.per_id 
left join ci_acct_char cac2  on cap.acct_id  = cac2.acct_id 
where cac.char_type_cd = 'OTDELEN' and cac.effdt <= '2015-01-01' and cap.acct_rel_type = 'OSNOV' and cac2.effdt > '2015-01-01'
and cac.char_val <> cac2.char_val;
'''

query_6 = '''
select sub_q1.acct_id
from (
	select acct_id from (
		select * from ci_sa cs 
		where sa_type_cd != 'PEREPL'
	) cs2
	group by acct_id) sub_q1
left join (
	select * from ci_sa cs 
	where sa_type_cd = 'PEREPL'
	) sub_q2 on sub_q1.acct_id = sub_q2.acct_id
where sub_q2.acct_id is null or sub_q2.acct_id = '';
'''

query_7 = '''
select *
from ci_acct ca 
order by setup_dt 
limit 1;
'''

In [105]:
query_list = [query_1, query_2, query_3, query_4, query_5, query_6, query_7]

In [107]:
for idx, query in enumerate(query_list):
    res = execute_query(conn, query)
    print(res)
    if res[1] != False:
        data, col_names = res[0], res[1]
        df = create_df(data, col_names)
        csv = create_csv_report(df, f'report_{idx}')
        print(csv)

([('0000001000', 'Рухлядева,Галина Степановна', '2816590000', 'OSNOV'), ('0000003000', 'Адушкина,Ирина Юрьевна', '1420634111', 'OSNOV'), ('0000010000', 'Малков,Владимир Леонидович', '9369900000', 'OSNOV'), ('0000010000', 'Малков,Владимир Леонидович', '9369900000', 'OSNOV'), ('0000011000', 'Пальниченко,Анна Терентьевна', '9374501000', 'OSNOV'), ('0151410000', 'Галямова,Разифа Василовна', '6034110000', 'LGOT'), ('0152110000', 'Зворыгина,Галина Васильевна', '0624110000', 'LGOT'), ('0367400000', 'Гуляев,Алексей Викторович', '6074300000', 'FMLMMBRA'), ('0367400000', 'Гуляев,Алексей Викторович', '8816317000', 'FMLMMBRA'), ('0457100000', 'Зяблова,Людмила Игоревна', '1324000000', 'ARENDTOR'), ('0457100000', 'Зяблова,Людмила Игоревна', '5271113000', 'OSNOV'), ('0457100000', 'Зяблова,Людмила Игоревна', '6618594111', 'ARENDTOR'), ('0457100000', 'Зяблова,Людмила Игоревна', '7618594111', 'ARENDTOR'), ('0745010000', 'Тарасова,Елена Генриевна', '4498354000', 'OSNOV'), ('0745010000', 'Тарасова,Елена Генриевна', '9015010000', 'OSNOV'), ('0769210000', 'Дараган,Валентина Ивановна', '9015010000', 'LGOT'), ('3664110000', 'Галямов,Ралиф Низамович', '6034110000', 'OSNOV'), ('7164110000', 'Петров,Михаил Сергеевич', '0624110000', 'OSNOV')], ['per_id', 'entity_name', 'acct_id', 'acct_rel_type'])
None
([('Гуляев,Алексей Викторович', 'Гуляев,Алексей Викторович'), ('Гуляев,Алексей Викторович', 'Гуляев,Алексей Викторович')], ['owner_name', 'family_member_name'])
None
([('0000010000', 'Малков,Владимир Леонидович'), ('0367400000', 'Гуляев,Алексей Викторович'), ('0457100000', 'Зяблова,Людмила Игоревна'), ('0745010000', 'Тарасова,Елена Генриевна')], ['per_id', 'entity_name'])
None
([('1420634111', datetime.date(2016, 1, 10), 'OR-A', 'RUB', None, None), ('6074300000', datetime.date(2007, 1, 1), 'SESB', 'RUB', 'DA', datetime.date(2016, 1, 4)), ('5271113000', datetime.date(2014, 1, 11), 'SE-A', 'RUB', 'DA', datetime.date(2016, 1, 4)), ('2816590000', datetime.date(2008, 1, 2), 'SESB', 'RUB', 'DA', datetime.date(2016, 1, 4)), ('9369900000', datetime.date(2008, 1, 1), 'SESB', 'RUB', 'DA', datetime.date(2016, 1, 4)), ('8816317000', datetime.date(2018, 1, 1), 'SE-A', 'RUB', 'DA', datetime.date(2018, 1, 1)), ('6034110000', datetime.date(2007, 1, 12), 'SESB', 'RUB', 'DA', datetime.date(2016, 1, 4)), ('4498354000', datetime.date(2016, 1, 8), 'SE-A', 'RUB', None, None), ('0624110000', datetime.date(2007, 1, 12), 'SESB', 'RUB', 'DA', datetime.date(2016, 1, 4)), ('9015010000', datetime.date(2007, 1, 12), 'SESB', 'RUB', 'DA', datetime.date(2018, 1, 3)), ('9374501000', datetime.date(1969, 10, 5), 'ORESB', 'RUB', 'DA', datetime.date(2014, 1, 9)), ('1324000000', datetime.date(2007, 1, 6), 'SESB', 'RUB', 'DA', datetime.date(2016, 1, 4)), ('7618594111', datetime.date(2010, 1, 9), 'SE-A', 'RUB', None, None), ('6618594111', datetime.date(2015, 1, 10), 'SE-A', 'RUB', None, None)], ['acct_id', 'setup_dt', 'cis_division', 'currency_cd', 'char_val', 'effdt'])
None
([('0000001000', 'Рухлядева,Галина Степановна'), ('0000010000', 'Малков,Владимир Леонидович'), ('0457100000', 'Зяблова,Людмила Игоревна'), ('0745010000', 'Тарасова,Елена Генриевна'), ('3664110000', 'Галямов,Ралиф Низамович'), ('7164110000', 'Петров,Михаил Сергеевич')], ['per_id', 'entity_name'])
None
([('6618594111',), ('8816317000',), ('5271113000',)], ['acct_id'])
None
([('9374501000', datetime.date(1969, 10, 5), 'ORESB', 'RUB')], ['acct_id', 'setup_dt', 'cis_division', 'currency_cd'])
None